@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

/* ================ MAIN ================ */

body {
	margin: 0px;
	background: #f0f0f0;
	-webkit-text-size-adjust: none;
}

header {
	position: fixed;
	width: 100%;
	top: 0px;
	background: white;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
	z-index: 3;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 20px;
	line-height: 40px;
	margin: 10px;
	display: inline;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: inline;
}

header li {
	float: right;
}

li a, .dropdown-button {
	display: block;
	text-align: center;
	padding: 10px 18px;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: black;
	background-color: white;
	transition: 0.2s;
}

li a:hover, .dropdown:hover .dropdown-button {
	background-color: #f1f1f1
}

li.dropdown {
	display: block;
}

.dropdown-content {
	display: none;
	position: absolute;
	min-width: 120px;
}

.dropdown-content a {
	color: black;
	background-color: #f1f1f1;
	padding: 9px 18px;
	font-size: 14px;
	text-decoration: none;
	display: block;
	text-align: left;
	transition: 0.2s;
}

.dropdown-content a:hover {
	background-color: #e1e1e1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.header-wrapper {
	background: #1F494D;
	position: relative;
	margin-top: 42px;
	height: 226px;
	box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.1);
}

.header-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 50px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	color: white;
	border: 7px solid white;
	padding: 0px 22px 3px 22px;
}

.header-image {
	background: url(images/general/naut-background.png) 50% 50% / cover no-repeat;
	width: 100%;
	height: 100%;
	mix-blend-mode: multiply;
	filter: grayscale(100%);
}

.main {
	width: 1000px;
	margin: auto;
	display: flex;
}

.content {
	display: inline-block;
	margin: 16px 16px 16px 0px;
	background-color: white;
	width: calc(100% - 300px);
	border-radius: 2px;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
}

.content-padding {
	padding: 30px 42px 42px 42px;
}

.sidebar {
	display: inline-block;
	margin: 16px 0px;
	background-color: white;
	width: 284px;
	border-radius: 2px;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
	float: right;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 24px;
	text-align: center;
	margin: 12px 0px 4px 0px;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-align: center;
	margin: -4px 0px 0px 0px;
}

/* ================ GALLERY ================ */

.gallery-images {
	text-align: center;
}

.gallery-images-content-wide {
	width: 168px;
	height: 95px;
	display: inline-block;
	margin: 4px;
	border-radius: 4px;
	transition: 0.4s;
}

.gallery-images-content-regular {
	width: 136px;
	height: 95px;
	display: inline-block;
	margin: 4px;
	border-radius: 4px;
	transition: 0.4s;
}

.gallery-images-content-wide:hover, .gallery-images-content-regular:hover {
	opacity: 0.6;
	cursor: pointer;
}

.gallery-modal { 
	display: none;
	position: fixed;
	z-index: 4;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.9);
}

.gallery-modal-content {
	margin: auto;
	display: block;
	width: 55%;
	max-width: 750px;
	margin-top: 100px;
}

.gallery-modal-close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.gallery-modal-close:hover, .gallery-modal-close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

/* ================ LINKS ================ */

.link {
	display: flex;
	width: 100%;
	height: 140px;
	padding: 0px 0px 14px 0px;
}

.link-description {
	display: inline-block;
	margin: 0 auto;
	width: 360px;
	height: 100%;
}

.link-description h3 {
	margin-top: 20px;
	font-size: 18px;
}

.link-description h4 {
	font-size: 14px;
}

.link-preview {
	height: 100%;
	display: inline-block;
	margin: 0 auto;
	position: relative;
}

.link-preview:hover .link-screenshot {
	opacity: 0.2;
}

.link-preview:hover .link-preview-text {
	opacity: 1;
}

a.link-page, a.link-page:hover, a.link-page:visited {
	text-decoration: none;
	color: black;
}

.link-screenshot {
	border-radius: 6px;
	border: 1px solid #b3b3b3;
	width: 210px;
	height: 140px;
	transition: 0.5s ease-in-out;
}

.link-preview-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 20px;
	opacity: 0;
	transition: 0.5s ease-in-out;
}

.link-video {
	width: 210px;
	height: 140px;
}

/* ================ ABOUT ================ */

.about-social {
	width: 100%;
	margin-top: 8px;
	text-align: center;
}

.social-icons {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	display: inline-block;
	margin: 0px 6px;
	transition: 0.3s;
}

.social-icons:hover {
	border-radius: 4px;
}

/*
footer {
	width: 100%;
	margin-top: -46px;
	background: white;
	border-top: 1px solid #b3b3b3;
	text-align: center;
	position: relative;
}

footer li {
	display: inline-block;
}

.speaker-list, .speaker-list-ul {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 18px;
	margin-left: 280px;
}

.speaker-list-ul {
	display: inline-block;
	margin-left: 300px;
}

.speaker-table {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 18px;
	width: 900px;
	text-align: center;
}

.speaker-image {
	height: 160px;
	margin-top: 2px;
	margin-left: 24px;
	margin-bottom: 4px;
	border-radius: 6px;
}

.speaker-text {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 18px;
	text-align: center;
}
*/
